compress_pickle[lz4]
pandas
numpy
yahooquery
cryptography
seaborn
kaggle
pyarrow
scipy
fasttext
tensorflow==2.10.1
keras-tuner
scikit-learn
tensorflow-datasets
tensorflow-text
ipykernel
ipywidgets
tqdm
transformers
sentencepiece
tensorflow-probability