compress_pickle[lz4]
pandas
numpy
yahooquery
cryptography
seaborn
kaggle
pyarrow
scipy
scikit-learn
ipykernel
ipywidgets
tqdm
transformers[sentencepiece]
arrow
stweet
newspaper3k
json
tor_python_easy
nlpaug
nltk
flair
snscrape